<?xml version="1.0"?>
<launch>
  <!-- Set default arguments --> 
  <arg name="model" default="$(find sock_description)/urdf/sock.xacro"/>
  <arg name="gui" default="False"/> #Using a gui for Twist msgs is not an option because no real hardware nor simulation are launched in this launch file. 
  
  <!-- Load and convert xacro file into URDF format --> 
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <!-- Send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
 
  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Show in RViZ -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find sock_description)/rviz/sock.rviz" required="true"/>
</launch>
